.logo-margin{ 
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.description-margin { 
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.small-margin { 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.tiny-margin { 
    margin-top: 15px; 
    margin-bottom: 15px; 
}

.iphone-margin { 
    margin-top: 100px; 
    margin-bottom: 50px; 
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

