.logo-margin{ 
    margin-top: 50px; 
    margin-bottom: 50px; 
}

.description-margin { 
    margin-top: 100px; 
    margin-bottom: 50px; 
}

.small-margin { 
    margin-top: 20px; 
    margin-bottom: 20px; 
}

.iphone-margin { 
    margin-top: 20px; 
    margin-bottom: 50px; 
}