@font-face {
    font-family: 'OstrichSans-Black';
    src: url(fonts/ostrich-sans-black.woff);
}

@font-face {
    font-family: 'OstrichSans-Regular';
    src: url(fonts/ostrich-sans-regular.woff);
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'OstrichSans-Black';
    font-size: 20px;
}

header {
  height: 210px;
  text-align: center;
  background-color: #FFFFFF;
  font-size: 30px;
  color: #3E3E3E;
  padding-bottom: 20px;
}

footer {
  font-family: 'OstrichSans-Regular';
  font-size: 20px;
  color: #3E3E3E;
  text-align: center;
}

footer, .page-wrap:after {
  height: 30px; 
}

.header {
  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
  max-width: 100%;
  height: auto;
  padding-top: 50px;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -30px; 
}

.page-wrap:after {
  content: "";
  display: block;
}

.video {
  text-align: center;
}

.social {
  text-align: center;
  margin-bottom: 20px; 
}

.main-section {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-bottom: 50px; 
}

.appstore {
  text-align: center;
  margin-bottom: 30px;
}

.appstore-icon {
  height: 60px; 
  width: auto;
  text-align: center;
}

.video {
  position:relative;
  padding-bottom:56.2%;
  height:0;
  overflow:hidden;
}

.video iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

